.contacts {
  &__wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 205px;
  }
}

@media (max-width: 991px) {
  .contacts {
    &__wrapper {
      flex-direction: column;
      gap: 70px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    margin-top: 140px;
  }
}