.subtitle {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
  width: 50%;
  &.center {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .subtitle {
    width: 90%;
  }
}
@media (max-width: 575px) {
  .subtitle {
    font-size: 30px;
    width: 105%;
  }
}