.design {
  margin-top: 150px;
  &__wrapper {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
  }
  &__item {
    min-width: 290px;
    max-width: 380px;
    width: 380px;
    min-height: 202px;
    border: 1px solid #c8c3c3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    &:hover {
      border: 2px solid #393246;
      border-bottom: none;
    }
    &:first-child, &:nth-child(2) {
      .design__more {
        padding-left: 16px;
      }
    }
    &:nth-child(2) {
      position: relative;
      border: 2px solid #393246;
      border-top: none;
      border-bottom: none;
      &::after {
        content: '';
        display: block;
        width: 87px;
        height: 2px;
        position: absolute;
        top: 0;
        left: -1px;
        background-color: #393246;
      }
      &::before {
        content: '';
        display: block;
        width: 87px;
        height: 2px;
        position: absolute;
        top: 0;
        right: -1px;
        background-color: #393246;
      }
      .pro {
        position: absolute;
        top: -7px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #777777;
      }
    }
    &:last-child {
      .design__more {
        padding: 0 16px 16px;
        margin-top: 50px;
      }
    }
  }
  &__info {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140px;
    //border-bottom: 1px solid #c8c3c3;
    width: 100%;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
  }
  &__subtitle {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #878787;
    margin-top: 15px;
  }
  &__link {
    margin: 50px auto 0;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #777777;
      &:hover {
        color: #0e0e0e;
      }
    }
  }
  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    padding-left: 1px;
    margin-left: 10px;
  }
  &__more {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    p {
      list-style-type: none;
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #777777;
    }
  }
}

.borderbot {
  border-bottom: 1px solid #c8c3c3;
}

.arrow {
  vertical-align: bottom;
}

@media (max-width: 991px) {
  .design {
    margin-top: 100px;
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__item {
      min-width: 100%;
      &:first-child, &:nth-child(2) {
        .design__more {
          padding: 16px;
        }
      }
    }
    &__more {
      width: 100%;
    }
  }
}