.footer {
  margin-top: 130px;
  height: 250px;
  padding: 95px 0;
  background: #F7F7F7;
  &__wrapper {
    width: 215px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 73px 107px;
    grid-template-rows: repeat(2, 30px);
    gap: 30px;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #777777;
    &:first-child {
      text-align: right;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 13px;
    color: #878787;
    grid-column: 1/3;
    text-align: center;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 991px) {
  .footer {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {

}