.slider {
  margin-top: 150px;
}
.swiper {
  margin-top: 50px;
  min-height: 330px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
}
@media (max-width: 575px) {
  .swiper {
    min-height: 370px;
  }
}