.promo {
  max-width: 1920px;
  height: 800px;
  background: url("@/assets/bg.jpg") center center/cover no-repeat;
  padding-top: 102px;
  &__title {
    font-weight: 300;
    font-size: 140px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 165px;
  }
  &__subtitle {
    width: 632px;
    margin: 10px auto 0;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.work, .work-subtitle {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.work-subtitle {
  font-size: 20px;
  margin-top: 26px;
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
  .promo {
    &__title {
      font-size: 110px;
    }
    &__subtitle {
      width: 530px;
    }
  }
}
@media (max-width: 575px) {
  .promo {
    &__title {
      font-size: 60px;
    }
    &__subtitle {
      font-size: 16px;
      width: 285px;
    }
  }
}