.promo {
  max-width: 1920px;
  height: 800px;
  background: url("../../assets/bg.jpg") center center/cover no-repeat;
  &__title {
    font-weight: 300;
    font-size: 140px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 165px;
  }
  &__subtitle {
    width: 632px;
    margin: 10px auto 0;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}